---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


<ol reversed>
  <ol reversed>
  <li><strong>J. O'Donoghue</strong>, L. Moore, T. Stallard, B. Kurth, et al. A potential planetary-scale auroral heat transport event observed at Jupiter following a solar-wind compression. <i>Geophys. Res. Lett.</i>, submission Nov 2024.</li>
  <li>Melin, H., <strong>O'Donoghue, J.</strong>, Moore, L., et al. Ionospheric irregularities at Jupiter observed by JWST. <i>Nat. Astron.</i> 8, 1000–1007, <a href="https://doi.org/10.1038/s41550-024-02305-9">doi:10.1038/s41550-024-02305-9</a>, 2024.</li>
  <li>Agiwal, O., Cao, H., Hsu, H-W., Moore, L., .. <strong>O'Donoghue, J.</strong> [6], et al. Current Events at Saturn: Ring–Planet Electromagnetic Coupling. <i>Planet. Sci. J.</i> 5, 134, <a href="https://doi.org/10.3847/PSJ/ad4343">doi:10.3847/PSJ/ad4343</a>, 2024.</li>
  <li>Bockelee-Morvan, D., Lellouch, E., Poch, O., Quirico, E., .. <strong>O'Donoghue, J.</strong> [7], et al. Composition and thermal properties of Ganymede’s surface from JWST/NIRSpec and MIRI observations. <i>Astronomy & Astrophysics</i> 681, p. A27, <a href="https://doi.org/10.1051/0004-6361/202347326">doi:10.1051/0004-6361/202347326</a>, 2024.</li>
  <li>Cao, X., Chu, X., Hsu, H-W., Cao, H., .. <strong>O'Donoghue, J.</strong> [6], et al. Science return of probing magnetospheric systems of ice giants. <i>Front. Astron. Space Sci.</i> 11:1203705. <a href="https://doi.org/10.3389/fspas.2024.1203705">doi:10.3389/fspas.2024.1203705</a>, 2024.</li>
  <li>Wang, R., Stallard, T. S., Melin, H., Baines, K. H., .. <strong>O'Donoghue, J.</strong> [6], et al. Asymmetric ionospheric jets in Jupiter's aurora. <i>J. Geophys. Res. Space Phys.</i> 128, 12, <a href="https://doi.org/10.1029/2023JA031861">doi:10.1029/2023JA031861</a>, 2023.</li>
  <li><strong>J. O'Donoghue</strong>, Stallard, T., What the Upper Atmospheres of Giant Planets Reveal. <i>Remote Sensing</i>, 14, 6326, <a href="https://doi.org/10.3390/rs14246326">doi:10.3390/rs14246326</a>, 2022.</li>
  <li>Chowdhury, M. N., Stallard, T. S., Baines, K. H., Provan, G., .. <strong>O'Donoghue, J.</strong> [6], et al. Saturn’s weather-driven aurorae modulate oscillations in the magnetic field and radio emissions. <i>Geophys. Res. Lett.</i>, <a href="https://doi.org/10.1029/2021GL096492">doi:10.1029/2021GL096492</a>, 2022.</li>
  <li><strong>O'Donoghue, J.</strong>, Moore, L., Melin, H., Stallard, T. S., et al. Global upper-atmospheric heating on Jupiter by the polar aurorae. <i>Nature</i>, <a href="https://doi.org/10.1038/s41586-021-03706-w">doi:10.1038/s41586-021-03706-w</a>, 2021.</li>
  <li>Moore, L., Moses, J. I., Melin, H., Stallard, T. S., .. <strong>O'Donoghue, J.</strong> [5], et al. Atmospheric implications of the lack of H$_3^+$ detection at Neptune. <i>Phil. Trans. R. Soc. A.</i> 37820200100, <a href="https://doi.org/10.1098/rsta.2020.0100">doi:10.1098/rsta.2020.0100</a>, 2020.</li>
  <li>Yurchenko, S. N., Tennyson, J., Miller, S., Melnikov, V. V., .. <strong>O'Donoghue, J.</strong> [5], et al. ExoMol line lists – XL. Rovibrational molecular line list for the hydronium ion (H$_3$O$^+$). <i>Monthly Notices of the Royal Astronomical Society</i>, 497(2), Pages 2340-2351, <a href="https://doi.org/10.1093/mnras/staa2034">doi:10.1093/mnras/staa2034</a>, 2020.</li>
  

</ol>



