---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---


{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


<ol reversed>
  <ol reversed>
  <ul>
  <li>Roberts, K., Moore, L., <strong>O'Donoghue, J.</strong>, Melin, H., Stallard, T. <em>et al.</em> Spatiotemporal variations of temperature in Jupiter's upper atmosphere. <em>Planet. Sci. J.</em>, accepted, 2025.</li>

  <li><strong>O'Donoghue, J.</strong>, Moore, L., Stallard, T., Kurth, B., <em>et al.</em> Sub‐auroral heating at Jupiter following a solar wind compression. <em>Geophysical Research Letters</em>, 52, e2024GL113751, doi:<a href="https://doi.org/10.1029/2024GL113751">10.1029/2024GL113751</a>, 2025.</li>

  <li>Thomas, E. M., Stallard, T. S., Melin, H., Chowdhury, M. N., ... <strong>O'Donoghue, J.</strong> [6<sup>th</sup>], <em>et al.</em> Auroral and non‐auroral H<sub>3</sub><sup>+</sup> ion winds at Uranus with Keck‐NIRSPEC and IRTF‐iSHELL. <em>Geophysical Research Letters</em>, 52, e2024GL112001, doi:<a href="https://doi.org/10.1029/2024GL112001">10.1029/2024GL112001</a>, 2025.</li>

  <li>Melin, H., Moore, L., Fletcher, L. N., Hammel, H. B., <strong>J. O'Donoghue</strong>, <em>et al.</em> Discovery of H<sub>3</sub><sup>+</sup> and infrared aurorae at Neptune with JWST. <em>Nature Astronomy</em>, doi:<a href="https://doi.org/10.1038/s41550-025-02507-9">10.1038/s41550-025-02507-9</a>, 2025.</li>

  <li>Wang, R., Stallard, T. S., Melin, H., Baines, K. H., ... <strong>O'Donoghue, J.</strong> [6<sup>th</sup>], <em>et al.</em> Simultaneous Infrared Observations of the Jovian Auroral Ionosphere and Thermosphere. <em>Journal Geophysical Research Space Physics</em>, doi:<a href="https://doi.org/10.1029/2024JA032891">10.1029/2024JA032891</a>, 2024.</li>

  <li>Melin, H., <strong>O'Donoghue, J.</strong>, Moore, L., <em>et al.</em> Ionospheric irregularities at Jupiter observed by JWST. <em>Nat. Astron.</em> 8, 1000–1007, doi:<a href="https://doi.org/10.1038/s41550-024-02305-9">10.1038/s41550-024-02305-9</a>, 2024.</li>

  <li>Agiwal, O., Cao, H., Hsu, H.-W., Moore, L., ... <strong>O'Donoghue, J.</strong> [6<sup>th</sup>], <em>et al.</em> Current Events at Saturn: Ring–Planet Electromagnetic Coupling. <em>Planetary Science Journal</em> 5, 134, doi:<a href="https://doi.org/10.3847/PSJ/ad4343">10.3847/PSJ/ad4343</a>, 2024.</li>

  <li>Bockelée-Morvan, D., Lellouch, E., Poch, O., Quirico, E., ... <strong>O'Donoghue, J.</strong> [22<sup>nd</sup>], <em>et al.</em> Composition and thermal properties of Ganymede’s surface from JWST/NIRSpec and MIRI observations. <em>Astronomy &amp; Astrophysics</em> 681, p. A27, doi:<a href="https://doi.org/10.1051/0004-6361/202347326">10.1051/0004-6361/202347326</a>, 2024.</li>

  <li>Cao, X., Chu, X., Hsu, H.-W., Cao, H., ... <strong>O'Donoghue, J.</strong> [6<sup>th</sup>], <em>et al.</em> Science return of probing magnetospheric systems of ice giants. <em>Front. Astron. Space Sci.</em> 11:1203705, doi:<a href="https://doi.org/10.3389/fspas.2024.1203705">10.3389/fspas.2024.1203705</a>, 2024.</li>

  <li>Wang, R., Stallard, T. S., Melin, H., Baines, K. H., ... <strong>O'Donoghue, J.</strong> [6<sup>th</sup>], <em>et al.</em> Asymmetric ionospheric jets in Jupiter's aurora. <em>J. Geophys. Res. Space Phys.</em> 128, 12, doi:<a href="https://doi.org/10.1029/2023JA031861">10.1029/2023JA031861</a>, 2023.</li>

  <li><strong>O'Donoghue, J.</strong> and Stallard, T. What the Upper Atmospheres of Giant Planets Reveal. <em>Remote Sensing</em>, 14, 6326, doi:<a href="https://doi.org/10.3390/rs14246326">10.3390/rs14246326</a>, 2022.</li>

  <li>Chowdhury, M. N., Stallard, T. S., Baines, K. H., Provan, G., ... <strong>O'Donoghue, J.</strong> [8<sup>th</sup>], <em>et al.</em> Saturn’s weather-driven aurorae modulate oscillations in the magnetic field and radio emissions. <em>Geophys. Res. Lett.</em>, doi:<a href="https://doi.org/10.1029/2021GL096492">10.1029/2021GL096492</a>, 2022.</li>

  <li><strong>O'Donoghue, J.</strong>, Moore, L., Melin, H., Stallard, T. S., <em>et al.</em> Global upper-atmospheric heating on Jupiter by the polar aurorae. <em>Nature</em>, doi:<a href="https://doi.org/10.1038/s41586-021-03706-w">10.1038/s41586-021-03706-w</a>, 2021.</li>

  <li>Moore, L., Moses, J. I., Melin, H., Stallard, T. S., <strong>O'Donoghue, J.</strong>, <em>et al.</em> Atmospheric implications of the lack of H<sub>3</sub><sup>+</sup> detection at Neptune. <em>Phil. Trans. R. Soc. A.</em> 378:20200100, doi:<a href="https://doi.org/10.1098/rsta.2020.0100">10.1098/rsta.2020.0100</a>, 2020.</li>

  <li>Yurchenko, S. N., Tennyson, J., Miller, S., Melnikov, V. V., <strong>O'Donoghue, J.</strong>, <em>et al.</em> ExoMol line lists – XL. Rovibrational molecular line list for the hydronium ion (H<sub>3</sub>O<sup>+</sup>). <em>Monthly Notices of the Royal Astronomical Society</em> 497(2), 2340–2351, doi:<a href="https://doi.org/10.1093/mnras/staa2034">10.1093/mnras/staa2034</a>, 2020.</li>

  <li><strong>O'Donoghue, J.</strong>, Moore, L., Connerney, J. E. P., Melin, H., <em>et al.</em> Observations of the chemical and thermal response of ‘ring rain’ on Saturn's ionosphere. <em>Icarus</em> 322, 251–260, doi:<a href="https://doi.org/10.1016/j.icarus.2018.10.027">10.1016/j.icarus.2018.10.027</a>, 2019.</li>

  <li>Moore, L., Melin, H., <strong>O'Donoghue, J.</strong>, <em>et al.</em> Modelling H<sub>3</sub><sup>+</sup> in planetary atmospheres: effects of vertical gradients. <em>Phil. Trans. R. Soc. A.</em> 377, 20190067, doi:<a href="https://doi.org/10.1098/rsta.2019.0067">10.1098/rsta.2019.0067</a>, 2019.</li>

  <li>Ray, L. C., Lorch, C. T. S., <strong>O'Donoghue, J.</strong>, <em>et al.</em> Why is the H<sub>3</sub><sup>+</sup> hot spot above Jupiter's Great Red Spot so hot? <em>Phil. Trans. R. Soc. A.</em> 377, 20180407, doi:<a href="https://doi.org/10.1098/rsta.2018.0407">10.1098/rsta.2018.0407</a>, 2019.</li>

  <li>Melin, H., Fletcher, L. N., Stallard, T. S., ... <strong>O'Donoghue, J.</strong> [7<sup>th</sup>], <em>et al.</em> The H<sub>3</sub><sup>+</sup> ionosphere of Uranus: decades-long cooling and local-time morphology. <em>Phil. Trans. A.</em>, doi:<a href="https://doi.org/10.1098/rsta.2018.0408">10.1098/rsta.2018.0408</a>, 2019.</li>

  <li>Stallard, T., Baines, K., Melin, H., Bradley, T., ... <strong>O'Donoghue, J.</strong> [6<sup>th</sup>], <em>et al.</em> Local-time averaged maps of H<sub>3</sub><sup>+</sup> emission, temperature and ion winds. <em>Phil. Trans. A.</em>, doi:<a href="https://doi.org/10.1098/rsta.2018.0405">10.1098/rsta.2018.0405</a>, 2019.</li>

  <li>Moore, L., Galand, M., Kliore, A., Nagy, A., <strong>O'Donoghue, J.</strong> [5<sup>th</sup>], <em>et al.</em> Saturn's ionosphere: ring rain and other drivers. <em>In book chapter: Saturn in the 21st Century</em>, Cambridge University Press, doi:<a href="https://doi.org/10.1017/9781316227220">10.1017/9781316227220</a>, 2018.</li>

  <li>Hsu, H. W., Schmidt, J., Kempf, S., ... <strong>O'Donoghue, J.</strong> [15<sup>th</sup>], <em>et al.</em> In situ collection of dust grains falling from Saturn's rings into its atmosphere. <em>Science</em>, 362(6410), doi:<a href="https://doi.org/10.1126/science.aau1017">10.1126/science.aau1017</a>, 2018.</li>

  <li>Stallard, T., Burrell, A. G., Melin, H., ... <strong>O'Donoghue, J.</strong> [7<sup>th</sup>], <em>et al.</em> Identification of Jupiter's magnetic equator through H<sub>3</sub><sup>+</sup> ionospheric emission. <em>Nat. Astron.</em>, 2(7), doi:<a href="https://doi.org/10.1038/s41550-018-0523-z">10.1038/s41550-018-0523-z</a>, 2018.</li>

  <li>Melin, H., Fletcher, L. N., Stallard, T. S., Johnson, R. E., <strong>O'Donoghue, J.</strong>, <em>et al.</em> The quest for H<sub>3</sub><sup>+</sup> at Neptune: deep burn observations with NASA IRTF iSHELL. <em>Monthly Notices of the Royal Astronomical Society</em> 474(3), 3714–3719, doi:<a href="https://doi.org/10.1093/mnras/stx3029">10.1093/mnras/stx3029</a>, 2018.</li>

  <li><strong>O'Donoghue, J.</strong>, Moore, L., Connerney, J. E. P., Melin, H., <em>et al.</em> Re-detection of the ionospheric H<sub>3</sub><sup>+</sup> signature of Saturn's "ring rain". <em>Geophys. Res. Lett.</em> 44(11), 11762–11769, doi:<a href="https://doi.org/10.1002/2017GL075932">10.1002/2017GL075932</a>, 2017.</li>

  <li>Stallard, T., Melin, H., Miller, S., Moore, L., <strong>O'Donoghue, J.</strong>, <em>et al.</em> Great Cold Spot in Jupiter's upper atmosphere. <em>Geophys. Res. Lett.</em> 44(7), 3000–3008, doi:<a href="https://doi.org/10.1002/2016GL071956">10.1002/2016GL071956</a>, 2017.</li>

  <li>Moore, L., <strong>O'Donoghue, J.</strong>, Melin, H., Stallard, T., <em>et al.</em> Variability of Jupiter's IR H<sub>3</sub><sup>+</sup> aurorae during Juno approach. <em>Geophys. Res. Lett.</em> 44, 4513–4522, doi:<a href="https://doi.org/10.1002/2017GL073156">10.1002/2017GL073156</a>, 2017.</li>

  <li><strong>O'Donoghue, J.</strong>, Moore, L., Stallard, T. S., Melin, H., <em>et al.</em> Heating of Jupiter's upper atmosphere above the Great Red Spot. <em>Nature</em> 536(7615), 190–192, doi:<a href="https://doi.org/10.1038/nature18940">10.1038/nature18940</a>, 2016.</li>

  <li>Stallard, T., Clarke, J. T., Melin, H., Miller, ... <strong>O'Donoghue, J.</strong> [6<sup>th</sup>], <em>et al.</em> Stability within Jupiter's polar auroral 'Swirl region' over moderate timescales. <em>Icarus</em> 268, 145–155, doi:<a href="https://doi.org/10.1016/j.icarus.2015.12.044">10.1016/j.icarus.2015.12.044</a>, 2016.</li>

  <li><strong>O'Donoghue, J.</strong>, Melin, H., Stallard, T. S., Provan, G., Moore, L., <em>et al.</em> Ground-based observations of Saturn's auroral ionosphere over three days: trends in H<sub>3</sub><sup>+</sup> temperature, density and emission with Saturn local time and planetary period oscillation. <em>Icarus</em> 263, 44–55, doi:<a href="https://doi.org/10.1016/j.icarus.2015.04.018">10.1016/j.icarus.2015.04.018</a>, 2016.</li>

  <li>Melin, H., Badman, S. V., Stallard, T. S., Cowley, S. W. H., ... <strong>O'Donoghue, J.</strong> [7<sup>th</sup>], <em>et al.</em> Simultaneous multi-scale and multi-instrument observations of Saturn's aurorae during the 2013 observing campaign. <em>Icarus</em> 263, 56–74, doi:<a href="https://doi.org/10.1016/j.icarus.2015.08.021">10.1016/j.icarus.2015.08.021</a>, 2016.</li>

  <li>Stallard, T. S., Melin, H., Miller, S., Badman, ... <strong>O'Donoghue, J.</strong> [8<sup>th</sup>], <em>et al.</em> Cassini VIMS observations of H<sub>3</sub><sup>+</sup> emission on the nightside of Jupiter. <em>J. Geophys. Res. Space Physics</em> 120, 6948–6973, doi:<a href="https://doi.org/10.1002/2015JA021097">10.1002/2015JA021097</a>, 2016.</li>

  <li>Moore, L., <strong>O'Donoghue, J.</strong>, Mueller-Wodarg, I., Galand, M., Mendillo, M. Saturn ring rain: Model estimates of water influx into Saturn's atmosphere. <em>Icarus</em> 245, 355–366, doi:<a href="https://doi.org/10.1016/j.icarus.2014.08.041">10.1016/j.icarus.2014.08.041</a>, 2015.</li>

  <li>Mousis, O., Fletcher, L. N., ... <strong>O'Donoghue, J.</strong> [32<sup>nd</sup>], <em>et al.</em> Scientific rationale for Saturn's in situ exploration. <em>Planetary and Space Science</em> 104, 29–47, doi:<a href="https://doi.org/10.1016/j.pss.2014.09.014">10.1016/j.pss.2014.09.014</a>, 2014.</li>

  <li>Melin, H., Stallard, T. S., <strong>O'Donoghue, J.</strong>, <em>et al.</em> On the anti-correlation between H<sub>3</sub><sup>+</sup> temperature and density in giant planet ionospheres. <em>Mon. Not. R. Astron. Soc.</em>, doi:<a href="https://doi.org/10.1093/mnras/stt2299">10.1093/mnras/stt2299</a>, 2013.</li>

  <li><strong>O'Donoghue, J.</strong>, Stallard, T. S., Melin, H., Cowley, S. W. H., <em>et al.</em> Conjugate observations of Saturn's northern and southern aurorae. <em>Icarus</em> 229, 214–220, doi:<a href="https://doi.org/10.1016/j.icarus.2013.11.009">10.1016/j.icarus.2013.11.009</a>, 2013.</li>

  <li><strong>O'Donoghue, J.</strong>, Stallard, T. S., Melin, H., Jones, G. H., <em>et al.</em> The domination of Saturn's low-latitude ionosphere by ring ‘rain’. <em>Nature</em> 496(7444), 193–195, doi:<a href="https://doi.org/10.1038/nature12049">10.1038/nature12049</a>, 2013.</li>

  <li>Melin, H., Stallard, T. S., S. Miller, T. R. Geballe, ... <strong>O'Donoghue, J.</strong> [6<sup>th</sup>], <em>et al.</em> Post-equinoctial observations of the ionosphere of Uranus. <em>Icarus</em> 223(2), 741–748, doi:<a href="https://doi.org/10.1016/j.icarus.2013.01.012">10.1016/j.icarus.2013.01.012</a>, 2013.</li>

  <li>Stallard, T. S., Melin, H., Miller, S., <strong>O'Donoghue, J.</strong>, <em>et al.</em> Temperature changes and energy inputs in giant planet atmospheres: what we are learning from H<sub>3</sub><sup>+</sup>. <em>Phil. Trans. R. Soc.</em> 370, 5213–5224, doi:<a href="https://doi.org/10.1098/rsta.2012.0028">10.1098/rsta.2012.0028</a>, 2012.</li>

  <li>Melin, H., Stallard, T. S., S. Miller, Gustin, J., ... <strong>O'Donoghue, J.</strong> [8<sup>th</sup>], <em>et al.</em> Simultaneous Cassini VIMS and UVIS observations of Saturn's southern aurora: Comparing emissions from H, H<sub>2</sub> and H<sub>3</sub><sup>+</sup> at a high spatial resolution. <em>Geophys. Res. Lett.</em> 38, L15203, doi:<a href="https://doi.org/10.1029/2011GL048457">10.1029/2011GL048457</a>, 2011.</li>
</ul>

</ol>



